.trek-link {
    cursor: pointer;
}


.trek-header {
    background: #ff8142; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f7b733, #ffe042); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ff8142, #ffe042); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding-top: 20px;
    padding-bottom: 20px;
}

.trek-highlight:active {
    box-shadow: 0 0px 20px 0px #f8f8f8;
}
