body {
    font-family: sans-serif;
    background: #ee0979; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ff6a00, #ee0979); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ff6a00, #ee0979); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* Fix for spacing on right side */
html, body {
    width: 100%;
    height: 100%;
    margin-top: -56px;
    margin-bottom: -56px;
    padding: 0px;
    overflow-x: hidden;
    overflow-y: auto;
}